{% extends 'base.html'%}
{% block content %}
<body style= background-image:url("/media/bg1.png")>

<div class="container">
<h3>All shirts are available in our shop</h3>
<table width=100% border=1>
{% for l in lst %}
    <tr>
    <td width=50%><h3>{{l.name}}></h3><br>
    <img src='{{l.photos.url}}' width=170 height=200/>
    </td>
    <td width=50%><h3>product details:</h3><br>
    Description:{{l.desc}}<br>
    Price:{{l.price}}<br>
    quality:{{l.quality}}<br>
    availabe:{{l.available}}<br>
    created:{{l.creted}}<br>
    updated:{{l.updated}}<br>
    <a href='cart{{l.id}}'>Click to Add to Cart</a>
    </td>
    </tr>
{% endfor %}
</table>
</div>
</body>
{% endblock %}










